@model Week3ClubDomain22.BusinessModel.Member

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.myClub.ClubName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.myClub.ClubName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.approved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.approved)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MemberID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
