@model Week9ClubDomain22.ClubEvent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ClubEvent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.associatedClub.ClubName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.associatedClub.ClubName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Venue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Venue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDateTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
